<div class="ui-g">
  <div class="ui-g-12">
    <h1>Alunos</h1>
  </div>
</div>

<form autocomplete="off" #frm="ngForm" (ngSubmit)="adicionar(frm)">
  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <div class="ui-g-12 ui-md-6 ui-lg-2">
          <Label>Código</Label>
          <input pInputText type="text" id="codigo" name="codigo" [disabled]="true" [(ngModel)]="aluno.id" #codigo>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-10">
        <Label>Nome</Label>
        <input pInputText type="text" id="nome" name="nome" [(ngModel)]="aluno.nome" #nome>
      </div>
    </div>
      <div class="ui-g-12 ui-fluid">
        <div class="ui-g-12 ui-lg-4">
          <Label>Língua Estrangeira</Label>
          <p-dropdown
            id="lingua"
            name="lingua" 
            [options]="linguas" 
            placeholder="Sel. Língua Estrangeira" 
            optionLabel="nome" [showClear]="true" 
            [(ngModel)]="aluno.lingua" 
            #lingua>
          </p-dropdown>
        </div>  
        <div class="ui-g-12 ui-lg-2">
          <Label>Turma</Label>
          <p-dropdown
            id="turma"
            name="turma" 
            [options]="turmas" 
            placeholder="Selecionar Turma" 
            optionLabel="descricao" 
            [showClear]="true" 
            [(ngModel)]="aluno.turma" 
            #turma>
          </p-dropdown>
        </div>
      </div>
  </div>
  <div class="ui-g">
      <p-toolbar class="ui-g-12">
        <div class="ui-toolbar-group-left">
          <button pButton label="Novo" icon="pi pi-plus"></button>
          <button pButton type="button" label="Salvar" (click)="atualizar()" icon="pi pi-upload" class="ui-button-success" style="left: 2px;"></button>
          <i class="pi pi-bars"></i>
          <button pButton type="button" label="Pesquisar" icon="pi pi-search"></button>
        </div>
    </p-toolbar> 
  </div>
</form>

  <div class="ui-g">
    <div class="ui-g-12">
        <p-table [value]="alunos" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th class="col-short">Código</th>
                    <th>Nome</th>
                    <th class="col-medium">Língua</th>
                    <th class="col-short">Turma</th>
                    <th class="col-acoes"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aluno>
                <tr>
                    <td class="col-short">{{aluno.id}}</td>
                    <td>{{aluno.nome}}</td>
                    <td class="col-medium">{{aluno.lingua.nome}}</td>
                    <td class="col-short">{{aluno.turma.descricao}}</td>
                    <td class="grid-button">
                        <button pButton type="button" icon="pi pi-pencil" (click)="selecionarAluno(aluno.id)"></button>                        
                        <button pButton type="button" icon="pi pi-trash" class="ui-button-danger grid-button-al"></button>  
                    </td>
                </tr>
            </ng-template>
        </p-table>  
    </div>  
  </div>


